EmployeePrototypeApplication/Connected Services/SOAPServiceReference/SOAPWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoginValidation">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoginValidationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="LoginValidationResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EmployeeName">
        <s:complexType />
      </s:element>
      <s:element name="EmployeeNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EmployeeNameResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EmployeeAddress">
        <s:complexType />
      </s:element>
      <s:element name="EmployeeAddressResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EmployeeAddressResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EmployeePhoneNumber">
        <s:complexType />
      </s:element>
      <s:element name="EmployeePhoneNumberResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EmployeePhoneNumberResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoadData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userid" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoadDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LoadDataResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="SubmitRequest">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userid" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="StartDate" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="EndDate" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SubmitRequestResponse">
        <s:complexType />
      </s:element>
      <s:element name="CalendarCompareDateValidation">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="StartDate" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="EndDate" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CalendarCompareDateValidationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CalendarCompareDateValidationResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="LoginValidationSoapIn">
    <wsdl:part name="parameters" element="tns:LoginValidation" />
  </wsdl:message>
  <wsdl:message name="LoginValidationSoapOut">
    <wsdl:part name="parameters" element="tns:LoginValidationResponse" />
  </wsdl:message>
  <wsdl:message name="EmployeeNameSoapIn">
    <wsdl:part name="parameters" element="tns:EmployeeName" />
  </wsdl:message>
  <wsdl:message name="EmployeeNameSoapOut">
    <wsdl:part name="parameters" element="tns:EmployeeNameResponse" />
  </wsdl:message>
  <wsdl:message name="EmployeeAddressSoapIn">
    <wsdl:part name="parameters" element="tns:EmployeeAddress" />
  </wsdl:message>
  <wsdl:message name="EmployeeAddressSoapOut">
    <wsdl:part name="parameters" element="tns:EmployeeAddressResponse" />
  </wsdl:message>
  <wsdl:message name="EmployeePhoneNumberSoapIn">
    <wsdl:part name="parameters" element="tns:EmployeePhoneNumber" />
  </wsdl:message>
  <wsdl:message name="EmployeePhoneNumberSoapOut">
    <wsdl:part name="parameters" element="tns:EmployeePhoneNumberResponse" />
  </wsdl:message>
  <wsdl:message name="LoadDataSoapIn">
    <wsdl:part name="parameters" element="tns:LoadData" />
  </wsdl:message>
  <wsdl:message name="LoadDataSoapOut">
    <wsdl:part name="parameters" element="tns:LoadDataResponse" />
  </wsdl:message>
  <wsdl:message name="SubmitRequestSoapIn">
    <wsdl:part name="parameters" element="tns:SubmitRequest" />
  </wsdl:message>
  <wsdl:message name="SubmitRequestSoapOut">
    <wsdl:part name="parameters" element="tns:SubmitRequestResponse" />
  </wsdl:message>
  <wsdl:message name="CalendarCompareDateValidationSoapIn">
    <wsdl:part name="parameters" element="tns:CalendarCompareDateValidation" />
  </wsdl:message>
  <wsdl:message name="CalendarCompareDateValidationSoapOut">
    <wsdl:part name="parameters" element="tns:CalendarCompareDateValidationResponse" />
  </wsdl:message>
  <wsdl:portType name="SOAPWebServiceSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LoginValidation">
      <wsdl:input message="tns:LoginValidationSoapIn" />
      <wsdl:output message="tns:LoginValidationSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EmployeeName">
      <wsdl:input message="tns:EmployeeNameSoapIn" />
      <wsdl:output message="tns:EmployeeNameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EmployeeAddress">
      <wsdl:input message="tns:EmployeeAddressSoapIn" />
      <wsdl:output message="tns:EmployeeAddressSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EmployeePhoneNumber">
      <wsdl:input message="tns:EmployeePhoneNumberSoapIn" />
      <wsdl:output message="tns:EmployeePhoneNumberSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LoadData">
      <wsdl:input message="tns:LoadDataSoapIn" />
      <wsdl:output message="tns:LoadDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SubmitRequest">
      <wsdl:input message="tns:SubmitRequestSoapIn" />
      <wsdl:output message="tns:SubmitRequestSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CalendarCompareDateValidation">
      <wsdl:input message="tns:CalendarCompareDateValidationSoapIn" />
      <wsdl:output message="tns:CalendarCompareDateValidationSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SOAPWebServiceSoap" type="tns:SOAPWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoginValidation">
      <soap:operation soapAction="http://tempuri.org/LoginValidation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EmployeeName">
      <soap:operation soapAction="http://tempuri.org/EmployeeName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EmployeeAddress">
      <soap:operation soapAction="http://tempuri.org/EmployeeAddress" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EmployeePhoneNumber">
      <soap:operation soapAction="http://tempuri.org/EmployeePhoneNumber" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadData">
      <soap:operation soapAction="http://tempuri.org/LoadData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubmitRequest">
      <soap:operation soapAction="http://tempuri.org/SubmitRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CalendarCompareDateValidation">
      <soap:operation soapAction="http://tempuri.org/CalendarCompareDateValidation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SOAPWebServiceSoap12" type="tns:SOAPWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoginValidation">
      <soap12:operation soapAction="http://tempuri.org/LoginValidation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EmployeeName">
      <soap12:operation soapAction="http://tempuri.org/EmployeeName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EmployeeAddress">
      <soap12:operation soapAction="http://tempuri.org/EmployeeAddress" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EmployeePhoneNumber">
      <soap12:operation soapAction="http://tempuri.org/EmployeePhoneNumber" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadData">
      <soap12:operation soapAction="http://tempuri.org/LoadData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubmitRequest">
      <soap12:operation soapAction="http://tempuri.org/SubmitRequest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CalendarCompareDateValidation">
      <soap12:operation soapAction="http://tempuri.org/CalendarCompareDateValidation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SOAPWebService">
    <wsdl:port name="SOAPWebServiceSoap" binding="tns:SOAPWebServiceSoap">
      <soap:address location="http://localhost:61743/SOAPWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="SOAPWebServiceSoap12" binding="tns:SOAPWebServiceSoap12">
      <soap12:address location="http://localhost:61743/SOAPWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>